* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* Input ******/
/******* Input ******/
header .container {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  padding: 15px;
}
header .container .container-left {
  width: 116px;
  height: 32px;
  left: 24px;
  top: 10px;
}
header .container .container-right {
  text-align: center;
}
header .container .container-right img {
  width: 31px;
  height: 31px;
  top: 3px;
}
header .container .container-right span {
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 36.31px;
}
header .container .container-right span a {
  margin-left: 5px;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 16px;
  line-height: 19.36px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .container-fodter {
  padding: 15px;
}
header .container-fodter ul {
  display: flex;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
}
header .container-fodter ul li {
  list-style-type: none;
}
header .container-fodter ul li a {
  text-decoration: none;
  margin-right: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.carousel {
  display: flex;
  justify-content: space-between;
  width: 1334px;
  height: 393px;
  left: -36px;
  top: 107px;
}
.carousel .img img {
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
.carousel .carousel-text h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.carousel .carousel-text h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 30px;
}
.carousel .carousel-text button {
  background: #f8b653;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  padding: 13px 35px;
}

.registercontent h2 {
  text-align: center;
}
.registercontent .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.registercontent .text .text-left .textbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid #ae18e2;
}
.registercontent .text .text-left .textbox h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.registercontent .text .text-left .textbox span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f50e0e;
}
.registercontent .text .text-left .textbox input[type=text] {
  border: none;
  width: 100%;
  outline: none;
}
.registercontent .text .text-right .textbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid #ae18e2;
}
.registercontent .text .text-right .textbox h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.registercontent .text .text-right .textbox span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f50e0e;
}
.registercontent .text .text-right .textbox input[type=text] {
  border: none;
  width: 100%;
  outline: none;
}
.registercontent .text .text-right .checkbox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.registercontent .text .text-right .checkbox h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.registercontent .text .text-right .checkbox input[type=radio] {
  accent-color: #AE18E2;
}
.registercontent .text .text-right button {
  background: #ae18e2;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fffcfc;
  padding: 6px 99px 12px 87px;
  border: none;
  margin-top: 60px;
}

.productdetail .container-produc {
  display: flex;
  justify-content: space-between;
}
.productdetail .container-produc .productdetail-text h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.productdetail .container-produc .productdetail-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #140101;
  margin-bottom: 10px;
}
.productdetail .container-produc .productdetail-text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1ed90e;
  margin-bottom: 10px;
}
.productdetail .container-produc .productdetail-text h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #fc0303;
  margin-bottom: 10px;
}
.productdetail .container-produc .productdetail-text .button {
  margin-bottom: 10px;
}
.productdetail .container-produc .productdetail-text .button button {
  margin-right: 18px;
  background: #cccccc;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1e1d1d;
  border: none;
  padding: 5px;
}
.productdetail .container-produc .productdetail-text .cart button {
  padding: 18px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff8f8;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  border: none;
}

.product-feature {
  width: 100%;
}
.product-feature .product-top {
  text-align: center;
}
.product-feature .productfeature-item {
  margin: 60px 15%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.product-feature .productfeature-item .product-item {
  width: 100%;
  text-align: center;
}
.product-feature .productfeature-item .product-item img {
  width: 220px;
  height: 156px;
  padding: 10px 28px;
}
.product-feature .productfeature-item .product-item p:first-of-type {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 50%;
}
.product-feature .productfeature-item .product-item p:last-of-type {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #cbc9c9;
  float: left;
}
.product-feature .productfeature-item .product-item .bt-buynow {
  display: inline-flex;
  align-items: center;
  background: #DEDDDC;
  width: 100%;
}
.product-feature .productfeature-item .product-item .bt-buynow button {
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background: #e1b067;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border: none;
}
.product-feature .productfeature-item .product-item .bt-buynow span {
  width: 50%;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
}

.foodter img {
  width: 100%;
  height: 100%;
}